{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center my-4">Our Team</h2>
    <p class="text-center mb-4">Meet the dedicated team behind Fravix E-Library!</p>
    <div class="row justify-content-center">
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card mb-4 shadow-lg">
                <img src="https://picsum.photos/200/200?random=1" class="card-img-top" alt="Shah Ram">
                <div class="card-body">
                    <h5 class="card-title">Shah Ram</h5>
                    <p class="card-text">Role: Developer<br>Skilled in full-stack development, with a passion for
                        creating innovative solutions.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="https://www.linkedin.com/in/shah-ram-0682a7284/" class="btn btn-primary">View
                            Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}